# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store
